<h1>Listing user_todos</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Completed</th>
      <th>Order</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_todos.each do |user_todo| %>
      <tr>
        <td><%= user_todo.title %></td>
        <td><%= user_todo.description %></td>
        <td><%= user_todo.completed %></td>
        <td><%= user_todo.order %></td>
        <td><%= link_to 'Show', user_todo %></td>
        <td><%= link_to 'Edit', edit_user_todo_path(user_todo) %></td>
        <td><%= link_to 'Destroy', user_todo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User todo', new_user_todo_path %>
